# API Gateway Configuration
PORT=3000

# JWT Secret - PHẢI GIỐNG VỚI CATALOG-SERVICE
ACCESS_TOKEN_SECRET=toyshop_access_2025_secret_key
REFRESH_TOKEN_SECRET=toyshop_refresh_2025_secret_key
JWT_SECRET=toyshop_access_2025_secret_key

# Microservice URLs
AUTH_SERVICE_URL=http://localhost:3001
CATALOG_SERVICE_URL=http://localhost:3002
CATALOGHOME_SERVICE_URL=http://localhost:3004